version: "3.8"
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - rabbitmq_net
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: "gold"
      MYSQL_PASSWORD: "gold552"
      MYSQL_ROOT_PASSWORD: "gold552"
    ports:
      - "3308:3306"
    expose:
      - "3306"
    volumes:
      - my-db:/var/lib/mysql

volumes:
  my-db:
  rabbitmq_data:

networks:
  rabbitmq_net:
    driver: bridge